/* David Rodriguez Chanca UO289521 */
/*Colores:
#454545 = Gris oscuro
#fff = Blanco puro

*/


/*Especificidad 002 */
article img {
    margin: 0; 
    width: 70%;
    height: 70%;
    position: absolute;
    border-radius: 20%;
        /* color heredado de body*/
    background-color: #454545;
    backface-visibility: hidden;
    font-size: 1rem; 
}
/*Especificidad 002 */
article h3 {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    background-color: #454545;
    backface-visibility: hidden;
    font-size: calc(1vw + 0.5em); 
}
/*Especificidad 002 */
article img {
    transform: rotateY(180deg);
}
/*Especificidad 011 */
article[data-state=flip]
{
    transform: rotateY(180deg);
        /* color heredado de body*/
    background-color: #fff;
    
}
/*Especificidad 012*/
article[data-state=flip]  img {
        /* color heredado de body*/
    background-color: #fff;
    
}
/*Especificidad 011 */
article[data-state=revealed]{
    transform: rotateY(180deg);
        /* color heredado de body*/
    background-color: #fff;
}
/*Especificidad 012 */
article[data-state=revealed] img {
        /* color heredado de body*/
    background-color: #fff;
}
/*Especificidad 001 */
article {
    width: 19%;
    height: 15em;
    margin: 0.5em;
    transform: scale(1);
        /* color heredado de body*/
    background-color: #454545;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1em 1em 1em rgba(0,0,0,.3);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5%;
    position: relative;
}
/*Especificidad 001 */
h2{
    width: 100%;
    text-align: center;
}
/*Especificidad 001 */
main{
    display: flex;
    flex-wrap: wrap;
    gap: 1%; 
    justify-content: center;
    align-items: center;
    
}


@media(max-width:465px){
    /*Especificidad 001 */
    article{
        /*Redifinicion de widht para asegurar que estuviesen en 3 filas las tarjetas */
        width: 18%;
    }
    /*Especificidad 002 */
    article img{
        /*Redifinicion de height para ajustar imagenes en movil */
      height: 90%;
      /*Redifinicion de widht para ajustar las imagenes en movil */
      width: 90%;
    }

}


